#rooms
{
	width: 994px;
	height: 772px;

  background-image: url("podkladw.png");
  margin: 0 auto;
}

#room1
{
  position: relative; left: 100px; top: 135px;
}

#room2
{
  position: relative; left: 580px; top: 200px;
  width: 350px;
}

#room3
{
  position: relative; left: 100px; top: 300px;
}

.date {
	font-size: small;
}
.ip {
	font-size: small;
}

.status {
	font-size: small;
}